.note {
    height: 150px;
    width: 150px;
    background: yellow;
    cursor: grab;
    position: absolute;
    top: 200px;
    left: 100px;
    box-shadow: 5px 5px 15px rgba(0 , 0, 0, 0.2);
    opacity: 0.8;
}

.note:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    opacity: 1;
    z-index: 9999;
}

.active {
    cursor: grabbing;
}